
MIPT_simulation_code/.vs/

MIPT_simulation_code/x64/

MIPT_simulation_code/MIPT_simulation_code/x64/

MIPT_simulation_code/MIPT_simulation_code.sln

MIPT_simulation_code/MIPT_simulation_code/MIPT_simulation_code.vcxproj

MIPT_simulation_code/MIPT_simulation_code/MIPT_simulation_code.vcxproj.filters

MIPT_simulation_code/MIPT_simulation_code/MIPT_simulation_code.vcxproj.user
